/NitKotin/obj
/NitKotin/bin
/NitKotin.Installer/obj
/NitKotin.Installer/bin
/NitKotin.Installer/artifacts
.vscode
.vs
/NitKotin/*.user
/NitKotin.Android/.gradle
/NitKotin.Android/app/build
/NitKotin.Android/build
/NitKotin.Android/local.properties
/NitKotin.Android/.idea
