/QuitMojo/obj
/QuitMojo/bin
/QuitMojo.Installer/obj
/QuitMojo.Installer/bin
/QuitMojo.Installer/artifacts
.vscode
.vs
/QuitMojo/*.user
/QuitMojo.Android/.gradle
/QuitMojo.Android/app/build
/QuitMojo.Android/build
/QuitMojo.Android/local.properties
/QuitMojo.Android/.idea
